// compileCompressed: style.css
*
  margin: 0px
$grayborderpx: 30px
$grayborderColor: #333333
$downgreen: #00A74A
$downred: #990000
$downyellow: #CCA707
$downblue: #004D99
$gameboardHW: 420px
$heightwidthColor: $gameboardHW/2
$innerC_HW: 220px
$innerC_borderpx: 15px
=circle
  border-radius: 50%
=hw($h,$w)
  height: $h
  width: $w
.colorPiece
  +hw($heightwidthColor,$heightwidthColor)
  z-index: -1
  float: left
  display: inline-block
.grayLines
  background-color: $grayborderColor
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  z-index: 10
.hline
  @extend .grayLines
  +hw($grayborderpx,$gameboardHW)
  top: $gameboardHW/2 + $grayborderpx/2
.vline
  @extend .grayLines
  +hw($gameboardHW,$grayborderpx)
body
  background-color: #f8f8f8
#gameboard
  +hw($gameboardHW,$gameboardHW)
  +circle
  margin: 0 auto
  position: absolute
  left: 0px
  right: 0px
  overflow: hidden
  border: 30px solid $grayborderColor
  z-index: 5
  #green
    background-color: $downgreen
    top: 30px
    left: 30px
  #red
    background-color: $downred
    top: 30px
    right: -50px
  #yellow
    background-color: $downyellow
    left: 30px
    bottom: -50px
  #blue
    background-color: $downblue
    right: -50px
    bottom: -50px
  #innerC
    +hw($innerC_HW,$innerC_HW)
    +circle
    background-color: #ECE7EE
    border: $innerC_borderpx solid $grayborderColor
    z-index: 5
    position: absolute
    left: $gameboardHW/2 - $innerC_HW/2 - $innerC_borderpx
    top: $gameboardHW/2 - $innerC_HW/2 - $innerC_borderpx
