$grayborderpx: 12px
$heightwidthColor: 230px
$downgreen: #00994D
$downred: #990000
$downyellow: #FFFF00
$downblue: #004D99
body
  background-color: #f8f8f8
#gameboard
  height: 450px
  width: 450px
  position: relative
  margin: 75px auto
  border: $grayborderpx solid #444
  border-radius: 50%
  overflow: hidden
  z-index: -2
  #innerC
    height: 200px
    width: 200px
    background-color: #000
    margin: 225-100px auto
    border: 10px solid #444
    border-radius: 50%
    z-index: 1
  #green
    background-color: $downgreen
    position: absolute
    z-index: -1
    height: $heightwidthColor
    width: $heightwidthColor
  #red
    background-color: $downred
    position: absolute
    z-index: -1
    right: 0px
    height: $heightwidthColor
    width: $heightwidthColor
  #yellow
    background-color: $downyellow
    position: absolute
    z-index: -1
    bottom: 0px
    height: $heightwidthColor
    width: $heightwidthColor
  #blue
    background-color: $downblue
    position: absolute
    z-index: -1
    right: 0px
    bottom: 0px
    height: $heightwidthColor
    width: $heightwidthColor
  #innerC
    height: 200px
    width: 200px
    background-color: #000
    margin: 225-100px auto
    border: $grayborderpx solid #444
    border-radius: 50%
    z-index: 2
    overflow: hidden
  .quarterC
    border: 3px solid red
