$grayborderpx: 30px
$heightwidthColor: 240px
$downgreen: #00994D
$downred: #990000
$downyellow: #FFFF00
$downblue: #004D99
$gameboardHW: 420px
=circle
  border-radius: 50%
=hw($h,$w)
  height: $h
  width: $w
.colorPiece
  position: absolute
  +hw($heightwidthColor,$heightwidthColor)
  z-index: -1

body
  background-color: #f8f8f8
#gameboard
  +hw($gameboardHW,$gameboardHW)
  margin: 0 auto
  position: relative
  overflow: hidden

  #grayPortion
    +circle
    +hw(inherit,inherit)
    border: 30px solid #333333
  #green
    background-color: $downgreen
    top: 30px
    left: 30px
  #red
    background-color: $downred
    top: 30px
    right: -50px
  #yellow
    background-color: $downyellow
    left: 30px
    bottom: -50px
  #blue
    background-color: $downblue
    right: -50px
    bottom: -50px
